#====================================================
# DEFAULT CORS ENV
#====================================================
CORS_ALLOW_ORIGINS=https://myapp.com,https://www.myapp.com
CORS_ALLOW_ORIGIN_REGEX=http://myapp.*,https://myapp.*
CORS_ALLOW_METHODS=GET,POST,PUT,DELETE,OPTIONS
CORS_ALLOW_HEADERS=Authorization,Content-Type,Accept,X-Requested-With
CORS_ALLOW_CREDENTIALS=true
CORS_MAX_AGE=3600

#====================================================
# AUTH  ENV
#====================================================
API_TOKEN=your-secret-token
TOKEN_HEADER_NAME=X-API-Token

#====================================================
# DATABASE
#====================================================
DB_PREFIX='postgresql+asyncpg'
DB_NAME=db_name
DB_USER=user
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432

#====================================================
# FULL PATH FOR DATABASE
#====================================================
DATABASE_URL=postgresql+asyncpg://user:password@db:5432/db_name

#====================================================
# URL FOR REDIRECT
#====================================================
BASE_URL=http://localhost:8000

#====================================================
# DEFAULT LENTH OF SHOT URL
#====================================================
SHORT_ID_LENGTH="6"